body {
    font-family: "Poppins", sans-serif;
    margin: 0px;
}

.bg-img {
    width: 100%;
    height: 100vh;
    object-fit: contain;
}

.form-container {
    background-color: transparent;
    border-radius: 10px;
    /* line-height: 35px; */
    margin: auto;

}

.user-pass {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
}

.button {
    padding:  10px;
    width: 100%;
    margin-top: 16px;
    background-color:#7d97f4;
    color: white;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
}

.button:hover {
    background-color: #687bbd;
}

.login-text {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}

.login {
    color: #000000;
    text-decoration: none;
}

.login:hover {
    color: #005dba;
    text-decoration: none;
}

.inputs {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #000000;
    margin-bottom: 15px;
}

.forgotpassword {
    display: block;
    margin-top: 20px;
    text-align: center;
    color: #0c86ff;
    text-decoration: none;
}

.forgotpassword:hover {
    text-decoration: none;
    color: #005dba;
}

.signup {
    text-align: center;
    color: rgb(0, 0, 0);
}

.error-message {
    color: red;
    font-size: 0.875em;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 23px;
}

.password-container {
    position: relative;
    margin-bottom: 15px;
}

.toggle-button {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    border: none;
    background: none;
    cursor: pointer;
    font-size: 20px;
    color: #000;
}
.required-star {
    color: red;
}
.profile-pic-container {
    position: relative; 
    margin-bottom: 20px; 
}

.profile-pic-wrapper {
    position: relative; 
    display: inline-block; 
    overflow: hidden; 
    width: 150px; 
    height: 150px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.upload-icon {
    position: absolute; 
    bottom: 0; 
    right: 0; 
    background: rgba(255, 255, 255, 0.8); 
    border-radius: 50%; 
    padding: 5px; 
    cursor: pointer; 
    display: flex;
    justify-content: center; 
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); 
}

.upload-icon i {
    color: #555; 
    font-size: 24px;    
}

